// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  justify-content: center;
}

.cards {
  display: flex;
}

.card {
  border: 1px solid #212529;

  margin: 15px;
  padding: 15px 18px;
  background-color: #3598dc;
  color:#f8f9fa;
}

h1 h3 {
  text-align: center;
}

